@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Modak&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');
body{
    margin: 0;
    background-color: black;
}
.pauseMenuButton{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
    font-size: 0.3em;
    font-family: 'Micro 5', sans-serif;
    color: rgb(67, 109, 13);
    background-color: greenyellow;
    transition: transform 200ms, filter 200ms;

    &:hover{
        transform: scale(110%);
        filter: brightness(120%);
    }
}
.restartButton{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
    font-size: 0.3em;
    font-family: 'Micro 5', sans-serif;
    color: rgb(67, 109, 13);
    background-color: greenyellow;
    transition: transform 200ms, filter 200ms;

    &:hover{
        transform: scale(110%);
        filter: brightness(120%);
    }
}
#gameOver{
    position: absolute;
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
    flex-direction: column;
    display: none; 
    align-items: center; 
    justify-content: center;
    font-size: 12em;
    font-family: 'Micro 5', sans-serif;
    background-color: rgba(0, 0, 30, 0.5);
    color: white;
    cursor: default;
    /* pointer-events: none; */
}

#gamePausedDiv{
    position: absolute;
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
    flex-direction: column;
    display: none; 
    align-items: center; 
    justify-content: center;
    font-size: 12em;
    font-family: 'Micro 5', sans-serif;
    background-color: rgba(0, 0, 30, 0.5);
    color: white;
    cursor: default;
    /*pointer-events: none;*/
}

.levelCompleteMenu{
    position: absolute;
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
    flex-direction: column;
    display: none; 
    align-items: center; 
    justify-content: center;
    font-family: 'Micro 5', sans-serif;
    background-color: rgba(0, 0, 30, 0.5);
    color: white;
    cursor: default;
    animation: fadeIn 200ms forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.levelCompleteButtons{
    align-items: center; 
    display: flex;
    margin-top: 40%;
    position: absolute;
    color: yellowgreen;
    transform: skew(10deg);
    width: 80px;
    transition: transform 200ms, filter 200ms;

    &:hover{
        filter: brightness(150%);
        transform: scale(1.3) skew(10deg);
        cursor: pointer;
    }
}

.levelCompleteBox{
    position: relative;
    width: 800px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: left;
    /* justify-content: center; */
    background-color: rgba(0, 0, 0, 0.5);
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%) skew(-10deg); */
    transform: scale(0.8) skew(-10deg);
    border-radius: 5%;
    opacity: 0;
    animation: popUp 200ms forwards;
}

@keyframes popUp {
    from {
        transform: scale(0.2) skew(0deg);
        opacity: 0;
    }
    to {
        transform: scale(1) skew(-10deg);
        opacity: 1;
    }
}

#levelScore{
    font-family: "Radio Canada", sans-serif;
    font-size: 3em;
    color: white;
    transform: skew(10deg);
    margin-left: 35%;
    margin-top: 10%;
}

#levelCompleteText{
    margin-left: -30px;
    margin-top: -20px;
    right: 0;
    padding: 10px; 
    background-color: #333; 
    width:auto; 
    text-align: center;
    border: 1px solid #222;
    font-size: 7em;
    box-shadow: 10px 10px #222;
    border-radius: 5%;
}

#playerInfo{
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: 'Micro 5', sans-serif;
    font-size: 5em;
    color: white;
    display: flex;
    align-items: center;
    cursor: default;
}

#wavesDiv{
    position: absolute;
    top: 7%;
    left: 7%;
    font-family: "Radio Canada", sans-serif;
    /* font-family: 'Micro 5', sans-serif; */
    font-size: 2em;
    display: block;
    color: white;
    text-shadow: 2px 3px rgb(67, 109, 40);
}

#scoreDiv{
    position: absolute;
    top: 2%;
    left: 7%;
    font-family: "Radio Canada", sans-serif;
    font-size: 2em;
    display: block;
    color: white;
    text-shadow: 2px 3px rgb(67, 109, 40);
}

.waveCountdown{
    right: 70px;
    bottom: 70px;
    display: flex;
    position: absolute;
    font-family: 'Micro 5', sans-serif;
    font-size: 5em;
    color: white;
    text-align: left;
}

#countdownSVG{
    width: 40px; 
    margin-right: 15px;
    margin-top: 20px; 
    color: white;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover{
        color: rgb(88, 86, 228);
        transform: scale(1.3);
    }
}

.previewMenu{
    position: absolute;
    bottom: 40;
    left: 20;
    width: 400px;
    font-size: 1em;
    color: white;
    display: none;
    font-family: "Radio Canada", sans-serif;
    align-items: center;
    text-align: left;
    cursor: default;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 50px;
}

.upgradeMenu{
    position: absolute;
    bottom: 40;
    left: 20;
    font-size: 1em;
    color: white;
    display: flex;
    font-family: "Radio Canada", sans-serif;
    align-items: center;
    cursor: default;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 50px;
}

.upgradeBox{
    display: none;
    position: absolute;
    /* background-color: rgba(0, 0, 0, 0.3); */
    background: linear-gradient(
            to top, 
            rgba(67, 109, 40, 0.6), 
            rgba(0, 0, 0, 0));
    width: 172px;
    padding: 10px;
}

#shopButton{
    position: absolute;
    margin-left: 80%; 
    width: 30px; 
    color: yellow;
    display: none;
    transition: transform 200ms, color 200ms;

    &:hover{
        color: white;
        /* width: 33px; */
        transform: scale(120%);
        cursor: pointer;
    }
}

.shopMenu{
    position: absolute;
    bottom: 180;
    left: 20;
    width: 400px;
    font-size: 1em;
    color: white;
    display: none;
    font-family: "Radio Canada", sans-serif;
    cursor: default;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 50px;
    align-items: center;
}

#specialHealButton, #attackBoostButton, #speedProjectileButton{
    margin: 28px;
    margin-top: 5px;
    margin-bottom: 5px;;
}

#specialHealLabel, #attackBoostLabel, #speedProjectileLabel{
    font-size: 0.8em; 
    color:aliceblue;
    text-align: center;
    display:grid;
    position: relative;
}

#upgradeButton{
    font-size: 0.65em;
    background-color: greenyellow;
    color: rgb(67, 109, 13);
    font-family: "Radio Canada", sans-serif;
    /* font-family: 'Micro 5', sans-serif; */
    font-weight: 700;
    border-radius: 10px;
    border-color: rgb(117, 204, 3);
    padding: 8.5px;
    transition: transform 200ms, filter 200ms, background-color 200ms;

    &:hover{
        background-color: rgb(180, 255, 170);
        cursor: pointer;
    }
}

#sellButton{
    font-size: 0.65em;
    background-color: rgb(255, 63, 63);
    color: rgb(109, 13, 13);
    font-family: "Radio Canada", sans-serif;
    /* font-family: 'Micro 5', sans-serif; */
    font-weight: 700;
    border-radius: 10px;
    padding: 8.5px;
    border-color: rgb(199, 16, 16);
    transition: transform 200ms, filter 200ms, background-color 200ms;

    &:hover{
        background-color: rgb(255, 150, 130);
        cursor: pointer;   
    }
}

#towerSelectionMenu{
    position: absolute;
    width: 192;
    height: 192;
    left: 20;
    font-size: 1.5em;
    color: white;
    display: flex;
    font-family: "Radio Canada", sans-serif;
    align-items: center;
    cursor: default;
    background-color: rgba(0, 0, 0, 0);
    padding: 20px;
    border-radius: 50px;;
}

img{
    width: 70px;
    padding: 3px;
    margin-top: -5px;
    transition: transform 200ms, filter 200ms, background-color 200ms;
    border-radius: 20px;

    &:hover{
        background-color: rgba(0, 0, 0, 0.2);
        cursor: pointer;
        /*width: 75px;*/
        transform: scale(110%);
    }
}

label{
    font-size: 0.5em;
    position: absolute;
    color: rgb(16, 88, 9);
    font-weight: bold;
}

#musicButton, #musicPause{
    width: 50px; 
    margin: 10px; 
    /* color: rgb(70, 122, 21);  */
    color: greenyellow;
    transition: transform 200ms, filter 200ms, background-color 200ms;
}

#musicButton:hover, #musicPause:hover, #pause:hover{
    /* color:rgb(49, 114, 6); */
    transform: scale(110%);
    cursor: pointer;
    filter: brightness(140%);
}

.specialClass{
    position: absolute;
    padding: 7px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    font-family: "Radio Canada", sans-serif;
    font-weight: 700;
    cursor: pointer;
}

#redVignette {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(148, 0, 0, 0.5) 100%);
    pointer-events: none;
    display: none;
}

#nightTint{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("sprites/effects/night-tint.png"); 
    pointer-events: none;
    display: none;
}