@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Modak&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');
body{
    height: 100vh;
    margin: 0;
    background: black url("bg/bg2.gif") repeat;
    background-size: 2300px;
    /* background-position: 0px 300px; */
    color: white;
    font-family: 'Micro 5', sans-serif;
}

#bg{
    background-color: rgba(0, 0, 30, 0.7);
    /* z-index: -1; */
    position: absolute;
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100vh;
}

.feature{

    display: grid;
    height: 100vh;
    place-items: center;
    overflow: hidden;
    position: relative;
    border-right: 1px solid rgba(255, 255, 255, 0.1);

    &:hover button{
        opacity: 1;
    }

    &:hover .image{
        opacity: 1;
        transform: scale(1);
    }

    &:hover .scores{
        opacity: 1;
    }

    &:hover .content{
        transform: scale(1.3);
        transform-origin: left 50%;
    }

    h3{
        pointer-events: none;
        font-size: 2.5em;
    }

    .content{
        width: 70%;
        margin: 0 auto;
        transition: transform 300ms;
    }

    .scores{
        font-size: 3em;
        margin-top: 20px;
        opacity: 0;
        cursor: default;
        transition: opacity 200ms;
    }    

    .image{
        position: absolute;
        top: 0;
        height: 100vh;
        left: -600px;
        z-index: -1;
        opacity: 0;
        transform: scale(1.2);
        transition: transform 3s, opacity 300ms;
    }
}

#logo{
    position: absolute;
    top: -100px;
    left: 37%;
    width: 500px;
}

button{
    padding: 5px 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.5em;
    font-family: 'Micro 5', sans-serif;
    background-color: transparent;
    border: 3px solid white;
    color: white;
    opacity: 0;
    transform: scale(1);
    margin-top: 30px;
    transition: opacity 300ms, transform 300ms, background-color 300ms;
    box-sizing: border-box;

    &:hover{
        filter: brightness(120%);
        transform: scale(1.2);
        background-color: aliceblue;
        color:rgb(28, 134, 69);
        border-color: rgb(28, 134, 69);
    }
}

.logoDiv{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    pointer-events: none;
    transform: translateY(-35%);
}

.text {
    /* pointer-events: none; */
    position: absolute;
    fill: none;
    font: 4.5em Open Sans, Impact;
    stroke-width: 1;
    stroke-linejoin: round;
    stroke-dasharray: 70 305;
    stroke-dashoffset: 0;
    -webkit-animation: stroke 30s infinite linear;
    animation: stroke 30s infinite linear;
    user-select: none;
}
.text:nth-child(5n + 1) {
    stroke: #f2385a;
    -webkit-animation-delay: -6s;
    animation-delay: -6s;
}
.text:nth-child(5n + 2) {
    stroke: #f1f503;
    -webkit-animation-delay: -12s;
    animation-delay: -12s;
}
.text:nth-child(5n + 3) {
    stroke: #e9f1df;
    -webkit-animation-delay: -18s;
    animation-delay: -18s;
}
.text:nth-child(5n + 4) {
    stroke: #56d96c;
    -webkit-animation-delay: -24s;
    animation-delay: -24s;
}
.text:nth-child(5n + 5) {
    stroke: #3aa1bf;
    -webkit-animation-delay: -30s;
    animation-delay: -30s;
}
@-webkit-keyframes stroke {
    100% {
        stroke-dashoffset: -375;
   }
}
@keyframes stroke {
    100% {
        stroke-dashoffset: -375;
   }
}

@media only screen and (min-width: 1000px){
    .feature h3{
        font-size: 4em;
    }

    button{
        font-size: 3em;
    }

    .text{
        font-size: 3.5em;
    }
}

@media only screen and (min-width: 1600px){
    .feature h3{
        font-size: 5em;
    }

    button{
        font-size: 4em;
    }

    .text{
        font-size: 2.5em;
    }
}

.options{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    transform: scale(1);
    padding: 5px;
    transition: transform 300ms;

    &:hover{
        transform: scale(1.3);
    }
}

.infoMenu{
    display: none;
    background-color: rgba(20, 13, 31, 1);
    padding: 20px;
    border-radius: 25px;
    flex-direction: column;
    position: absolute;
    width: 1000px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) skew(2deg);
    box-shadow: 10px 10px rgba(36, 26, 77, 1);
    font-family: "Radio Canada", sans-serif;
    font-size: 1.5em;
}

.container1{
    transform: translate(10%, 20%) skew(-2deg);
    width: 400px;
    height: 300px;
}

.container2{
    transform: translate(150%, -80%) skew(-2deg);
    width: 400px;
    height: 300px;
}

.menu-container {
    top: 50px;
    left: 50px;
    position: fixed;
    margin: 25px;
}
  
.menu-toggle-btn {
  height: 50px;
  width: 50px;
  bottom: 0;
  right: 0;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 3px 3px 2px 1px rgb(0 0 0 / 20%);
  z-index: 2;
  cursor: pointer;
  transform: scale(1);
  transition: background-color 300ms, transform 300ms;
  box-sizing: border-box;

  &:hover{
      background-color: #56d96c;
      transform: scale(1.3);
  }

  i{
      font-size: 2rem;
      color: #eeeeee;
      transition: 0.5s;
  }   
}
  
.menu-toggle-btn.effect i {
  transform: rotate(180deg);
}

.menu-list {
  list-style: none;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}
  
.menu-list .menu-item {
  height: 2.3rem;
  width: 2.3rem;
  top: -3rem;
  left: -3rem;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  transform: scale(1);
  transition: 300ms, transform 300ms;
 
  &:hover{
      background-color: rgb(28, 134, 69);
      cursor: pointer;
      transform: scale(1.3);
  }

  a{
      text-decoration: none;
      color: #eeeeee; 
  }
}
  
.menu-list.effect .menu-item {
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
}
  
.menu-list.effect .menu-item:nth-of-type(1) {
  top: 2rem;
  left: -2.7rem;
  transition-delay: 200ms;
}
  
 .menu-list.effect .menu-item:nth-of-type(2) {
  top: 0.4rem;
  left: 0.9rem;
  transition-delay: 100ms;
}
  
.menu-list.effect .menu-item:nth-of-type(3) {
  top: -3.2rem;
  left: 2.2rem;
}

.info-bg{
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    visibility: hidden;
    transition: all 300ms;
}

.info-bg.active{
    visibility: visible;
}

.info-container{
    position: absolute;
    overflow: hidden;
    /* top: 40%; */
    /* bottom: 40%; */
    /* left: 35%; */
    top: 50%;
    left: 50%;
    padding: 20px 50px;
    display: flex;
    width: 500px;
    height: auto;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    transition: all 500ms;
    visibility: hidden;
    box-sizing: border-box;

    .info-content{
        opacity: 0;
        font-family: "Radio Canada", sans-serif;
        color: black;
    }

    &:before{
        position: absolute;
        width: 1px;
        height: 1px;
        background: white;
        content: "";
        bottom: 10px;
        left: 50%;
        top: 95%;
        color: #fff;
        box-sizing: border-box;
        border-radius: 50%;
        -webkit-transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .info-close{
        width: 20px;
        /* color: #f2385a; */
        color: rgb(18, 27, 71);
        position: absolute;
        opacity: 0;
        right: 0;
        top: 0;
        margin: 20px;
        transform: scale(1);
        transition: color 300ms, transform 300ms;

        &:hover{
            color: #f2385a;
            transform: scale(1.3);
        }
    }
}

.info-container.active{
    display: block;
    visibility: visible;
    box-shadow: 2px 3px 16px silver;
    transition: all 600ms;
    transition: all 0.5s;
    box-sizing: border-box;

    &:before{
        height: 2000px;
        width: 2000px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        margin-left: -1000px;
        margin-top: -1000px;
        display: block;
        -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .info-content{
        position: relative;
        z-index: 1;
        opacity: 1;
        transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .info-close{
        position: absolute;
        z-index: 1;
        opacity: 1;
    }
}

.reset-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    font-family: "Radio Canada", sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
  .reset-popup.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}
  
.reset-container {
    position: relative;
    width: 90%;
    top: 30%;
    max-width: 400px;
    margin: 4em auto;
    background: #FFF;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.reset-container p {
    padding: 3em 1em;
    color: black;
}
.reset-container .reset-buttons:after {
    content: "";
    display: table;
    clear: both;
}
.reset-container .reset-buttons li {
    float: left;
    width: 50%;
    list-style: none;
}
.reset-container .reset-buttons a {
    color: #35a785;
    cursor: pointer;
    text-decoration: none;
    display: block;
    height: 60px;
    line-height: 60px;
    font-size: 1em;
    text-transform: uppercase;
    color: #FFF;
    transform: scale(1);
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 300ms, filter 300ms, transform 300ms;

    &:hover{
        filter:brightness(120%);
        transform: scale(1.05);
    }
}
.reset-container .reset-buttons li:first-child a {
    background: #f2385a;
    border-radius: 0 0 0 .25em;
}
.reset-container .reset-buttons li:last-child a {
    background: #3aa1bf;
    border-radius: 0 0 .25em 0;
}
.reset-container .reset-popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
}
.reset-container .reset-close::before, .reset-container .reset-close::after {
    content: '';
    position: absolute;
    top: 12px;
    width: 14px;
    height: 3px;
    background-color: #8f9cb5;
}
.reset-container .reset-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
}
.reset-container .reset-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 8px;
}
.is-visible .reset-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.feedback-bg{
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    visibility: hidden;
    transition: all 300ms;
}

.feedback-bg.active{
    visibility: visible;
}

.feedback-container{
    position: absolute;
    overflow: hidden;
    /* top: 40%; */
    /* bottom: 40%; */
    /* left: 35%; */
    top: 50%;
    left: 50%;
    padding: 20px 50px;
    display: flex;
    width: 500px;
    height: 300px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    transition: all 500ms;
    visibility: hidden;
    box-sizing: border-box;

    .feedback-content{
        opacity: 0;
        font-family: "Radio Canada", sans-serif;
        color: black;
    }

    &:before{
        position: absolute;
        width: 1px;
        height: 1px;
        background: white;
        content: "";
        bottom: 10px;
        left: 50%;
        top: 95%;
        color: #fff;
        box-sizing: border-box;
        border-radius: 50%;
        -webkit-transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .feedback-close{
        width: 20px;
        /* color: #f2385a; */
        color: rgb(18, 27, 71);
        position: absolute;
        opacity: 0;
        right: 0;
        top: 0;
        margin: 20px;
        transform: scale(1);
        transition: color 300ms, transform 300ms;

        &:hover{
            color: #f2385a;
            transform: scale(1.3);
        }
    }

    .feedback-submit{
        font-family: "Radio Canada", sans-serif;
        position: absolute;
        top: 3%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
        width: 170px;
        height: 40px;
        line-height: 1;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
        border: 1px solid #000000;
        background: #fff;
        color: #000000;
        border-radius: 30px;
        cursor: pointer;
        overflow: hidden;
        transition: all 300ms;

        &:hover{
            background: #3aa1bf;
            color: white;
            border-color: white;
            transform: translate(-50%, -50%) scale(1.2);
        }
    }

    .feedback-success{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        border-radius: 50%;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: all .35s;
    }
    
    .feedback-success svg{
        width: 20px;
        height: 20px;
        fill: #3aa1bf;
        transform-origin: 50% 50%;
        transform: translateY(-50%) rotate(0deg) scale(0);
        transition: all .35s;
    }
}

.feedback-container.active{
    display: block;
    visibility: visible;
    box-shadow: 2px 3px 16px silver;
    transition: all 600ms;
    transition: all 0.5s;
    box-sizing: border-box;

    &:before{
        height: 2000px;
        width: 2000px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        margin-left: -1000px;
        margin-top: -1000px;
        display: block;
        -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .feedback-content{
        position: relative;
        z-index: 1;
        opacity: 1;
        transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .feedback-close{
        position: absolute;
        z-index: 1;
        opacity: 1;
    }

    .feedback-input{
        border: 1px solid black;
        margin: auto;
        margin-top: 5px;
        padding: 10px;
        text-align: left;
        font-family: "Radio Canada", sans-serif;
    }

    .feedback-wrapper{
        position: relative;
        width: 100%;
        height: 100%;
      }
      
    .feedback-submit{
        opacity: 1;
        transition: all 300ms;
    }
    
    .feedback-submit span{
        opacity: 1;
        visibility: visible;
        transition: all 300ms;
    }
    
    .feedback-submit.is_active{
        width: 40px;
        height: 40px;
    }
    
    .feedback-submit.is_active .feedback-success{
        opacity: 1;
        visibility: visible;
    }
    
    .feedback-submit.is_active .feedback-success svg{
        margin-top: 50%;
        transform: translateY(-50%) rotate(720deg) scale(1);
    }
    
    .feedback-submit.is_active span{
        opacity: 0;
        visibility: hidden;
    }
}

#musicButton, #musicPause{
    width: 50px; 
    margin: 10px; 
    color: white;
    transition: transform 300ms, color 300ms;
    top: 0;
    right: 0;
    margin: 30px;
    position: absolute;

    &:hover{
        transform: scale(1.3);
        cursor: pointer;
        color: rgb(28, 134, 69);
    }
}

.loaderContainer {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Micro 5', sans-serif;
    /* font-family: "Radio Canada", sans-serif; */
    font-size: 100px;
    color: white;
    background-color: black; 
}
  
.loader {
    height: 20px;
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; 
}
.loader--dot {
  animation-name: loader;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  border: 2px solid black; 
}
.loader--dot:first-child {
  background-color: #8cc759;
  animation-delay: 0.5s; 
}
.loader--dot:nth-child(2) {
  background-color: #8c6daf;
  animation-delay: 0.4s; 
}
.loader--dot:nth-child(3) {
  background-color: #ef5d74;
  animation-delay: 0.3s; 
}
.loader--dot:nth-child(4) {
  background-color: #f9a74b;
  animation-delay: 0.2s; 
}
.loader--dot:nth-child(5) {
  background-color: #60beeb;
  animation-delay: 0.1s; 
}
.loader--dot:nth-child(6) {
  background-color: #fbef5a;
  animation-delay: 0s; 
}
.loader--text {
  position: absolute;
  /* top: 200%; */
  /* left: 0; */
  /* right: 0; */
  top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 4rem; */
  margin: auto; 
}
.loader--text:after {
    content: "Loading";
    animation-name: loading-text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
  
@keyframes loader {
  15% {
    transform: translateX(0); }
  45% {
    transform: translateX(230px); }
  65% {
    transform: translateX(230px); }
  95% {
    transform: translateX(0); } 
}

@keyframes loading-text {
  0% {
    content: "Loading"; }
  25% {
    content: "Loading."; }
  50% {
    content: "Loading.."; }
  75% {
    content: "Loading..."; } 
}